#details {
  position: relative;
}

.container {
  margin: 8vh 8vw;
}

.hidden {
  display: none;
}

.item {
  width: 33%;
}

.image {
  width: 160px;
}

.image.details {
  width: 100%;
}

.details {
  padding-left: 8vw;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
}
