#details {
  position: relative;
}

#nav {
  background-color: #226a99;
  height: 90px;
  margin: 0;
}

#cart-container {
  position: relative;
  float: right;
}

#cart-img {
  float: right;
  height: 56px;
  margin: 17px 40px;
}

#item-count {
  position: absolute;
  top: 25px;
  right: 55px;
  color: #226a99;
  font-size: 15px;
  font-weight: bold;
}

.container {
  margin: 7vh 8vw;
}

.hidden {
  display: none;
}

.item {
  width: 33%;
}

.image {
  width: 160px;
}

.image.details {
  width: 100%;
}

.details {
  padding-left: 8vw;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
}

.add-cart {
  background-color: #f0bc29;
  float: right;
}
